___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(a,b):
    if a %2==0 and b%2==0:
        if a > b:
            return b
        elif a < b:
            return a
        else:
            print('no lesser one')
    else:
        return b if b>a  else a

## use min and max function to do comparision and return to make your code more clean

In [181]:
def lesser_of_two_evens2(a,b):
    if a %2==0 and b%2==0:
        return min(a,b) # not consider the equal case
    else:
        # return b if b>a  else a  
        return max(a,b)

In [182]:
# Check
lesser_of_two_evens(2,4)

2

In [183]:
lesser_of_two_evens2(2,4)

2

In [184]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

## First we know the passing paramters are string: immutable, cannot assign item to index. 
## support index and slice, split(). concatanation 
# The string split function returns a list which is mutable and does support item
## assigenment when you are not sure just type and run in notebook to split a string words

In [29]:
def animal_crackers(text):
    # if we do not tell uppercase and lowercase then upper them or lower them before do comparision 
    # even though type('Levelheaded Llama'.split()[0][0]) is str but here it is not assigemnt item. it is creating a string
    # like a ='str' not like str[index] = 'str'
    word1_begin_letter=text.split()[0][0].upper() 
    word2_begin_letter=text.split()[1][0].upper()
    if word1_begin_letter == word2_begin_letter:
        return True
    else:
        return False

In [190]:
# more simplize 
def animal_crackers2 (text):
    # if we do not tell uppercase and lowercase then upper them or lower them before do comparision 
    # even though type('Levelheaded Llama'.split()[0][0]) is str but here it is not assigemnt item. it is creating a string
    # like a ='str' not like str[index] = 'str'
    #word1_begin_letter=text.split()[0][0].upper() 
    #word2_begin_letter=text.split()[1][0].upper()
    #if word1_begin_letter == word2_begin_letter:
       # return True
    #else:
       # return False
    return text.split()[0][0].upper() == text.split()[1][0].upper()

# uppcase and lowercase are taken as the same letter 
# we could lowe or upper case of text before split

# List from string.split() !!!!!!
# even though type('Levelheaded Llama'.split()[0][0]) is str but here it is not assigemnt item. it is creating a string
    # like a ='str' not like str[index] = 'str'

In [186]:
type('Levelheaded Llama'.split()) # List

list

In [26]:
type('Levelheaded Llama'.split()[0][0])

str

In [187]:
type('Levelheaded Llama'.split()[0][0].upper())

str

In [189]:
a = 'r'
a

'r'

In [191]:
# Check
animal_crackers2('Levelheaded llama')

True

In [192]:
# Check
animal_crackers2('Crazy kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [30]:
def makes_twenty(n1,n2):
    if sum((n1,n2))==20 or n1==20 or n2==20:
        return True
    else:
        return False

# we can use one line to do or operator

In [193]:
def makes_twenty(n1,n2):
    return sum((n1,n2))==20 or n1==20 or n2==20

In [194]:
# Check
makes_twenty(20,10)

True

In [195]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

# Think about it after you get the question:
# 1. which data type is your passing paramter in function?
# 2. string : immutable (cannot do item assignment), can index and slice; split(), concatanation is okay: '' +='str' !! okay 
# 3 it is required to change item inside string but string is immutable. but we could look through string and concatenate them again with index, doing looking through we could change the single item and do concatenation 
# 4. when do concatenation of string, initialize the string from a empty '' is important! or  you also could just use index to grab different section of the original string, we call them changed_section, unchanged_section, all of them are struing pieces, directly concatenation use + : section1+section 2

In [201]:
def old_macdonald(name):
    new_name=''
    for index in range(0,len(name)):
        if index ==0 or index == 3:
            new_name+=name[index].upper()
        else:
            new_name+=name[index]
    return new_name

## Below updtes let me  learn and emphasize the comprehension concatenation of string pieces: + directly works well

In [208]:
def old_macdonald2(name):
    first_letter = name[0].upper()
    inter_letter = name[1:3]
    fourth_letter=name[3].upper()
    rest=name[4:]
    
    return first_letter+inter_letter+fourth_letter+rest

# Use captalize instead of uppercase. captalize will captalize the first letter of the section

In [211]:
def old_macdonald3(name):
    first_halv=name[:3]
    second_halv=name[3:]
    return first_halv.capitalize() +second_halv.capitalize()

In [203]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [209]:
old_macdonald2('macdonald')

'MacDonald'

In [212]:
old_macdonald3('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"
## Join is used in list elements join, we all know the elements in list is separated by coma

# so the function paramter is string: immutable, can index, concatenate,slice 
# I do depend on range() to look through a lot! but practice the faltten thoughts to code make it clean  
#

In [85]:
def master_yoda(text):
    text_split=text.split()
    text=text.split() #  return a list of string elments ['I', 'am', 'home']
    ct=0
    for index in range(0,len(text_split)):
        ct-=1
        text_split[index]=text[ct]
        
    reverse_se = ' '.join(text_split)
    return reverse_se

### Instead of using for loop with range(), practice and remenber to use flatten sclicing method [::-1] 
### [::-1] will sclice the list in steps from the beginning to the end with step -1

### The .join() method allows you to join together strings in a list with some connector string.

In [220]:
def master_yoda(text):
    text_split=text.split() #  return a list of string elments ['I', 'am', 'home']
    reversed_worldlist= text_split[::-1] # slice the words from -1 which is the last word of the list ['home', 'am', 'I']
    return ' '.join(reversed_worldlist) # Join is the method of prioeity of string

In [214]:
type('I am home'.split())

list

In [215]:
'I am home'.split()

['I', 'am', 'home']

In [221]:
# Check
master_yoda('I am home')

'home am I'

In [222]:
' '.join(['kk','ff'])
# Join is used in list elements join, we all know the elements in list is separated by coma

'kk ff'

In [228]:
''.join(('ll,kk'))  # if strings are not in a list that cannot give the same result at least we cannot eliminate comma

'll,kk'

In [223]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [93]:
def almost_there(n):
    if abs(n) in range(90,110) or abs(n) in range(200-10, 200+10):
        return True
    else:
        return False

In [229]:
def almost_there(n):
    return (abs(100-n)<=10) or (abs(200-n)<=10)

In [230]:
# Check
almost_there(104)

True

In [231]:
# Check
almost_there(150)

False

In [232]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [101]:
def has_33(nums):
    ct=0
    for index in range(0,len(nums)-1):
        if nums[index] ==nums[index+1]==3:
            ct+=1    
        else:
            pass
    if ct > 0:
        return True
    else:
        return False

In [235]:
# correct:
def has_33(nums):
    for index in range(0,len(nums)-1):
        if nums[index] == nums[index+1]==3:
            return True 
    return False  # this return should be outside of the for loop since we need to look through all items first 
# and we only need to find if there is two 3 consectively we do not need to count it

In [236]:
# Check
has_33([1, 3, 3])

True

In [237]:
# Check
has_33([1, 3, 1, 3])

False

In [238]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [150]:
def paper_doll(text):
    ini=''
    for index in text:
        ini+=index*3
    return ini

### str can do multiplcation string does support concatenation ‘kkkk’ + ‘llll’ concatenatinon 
### Or you also could do multipcation which is ‘ll’ *5 – ‘llllllllll’

In [112]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [113]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19
    
### in() method is useful

In [249]:
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return sum((a,b,c))
    elif sum((a,b,c)) > 21 and 11 in (a, b, c):
        sum_3 = sum((a,b,c)) -10
        if sum_3 > 21:
            return 'BUST' # when you return 'BUST' twice in one loop then try to write it in a more logic way
        else:
            return sum_3
    elif sum((a,b,c)) > 21:
        return 'BUST'
    else:
        return sum_3

### when you return 'BUST' twice in one loop then try to write it in a more logic way

In [251]:
# More logic way
def blackjack1(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif 11 in (a, b, c) and sum((a,b,c)-10) <=21:
        return sum((a,b,c))-10
    else:  # else only happens with sum > 21 and 11 is in the list but still bigger that 21 after minus 10 or 11 is not in
        return 'BUST'

In [252]:
# Check
blackjack(5,6,7)

18

In [253]:
# Check
blackjack(9,9,9)

'BUST'

In [254]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14
### array is not data sturcture in python? what is the relations in List,string,dictionary, tuple and array?

### how could i pick very section 6,9

# !!!!!  I cannot make it

In [10]:
def summer_69(arr):
    index_c6=[]
    index_c9=[]
    ct=0
    for index,value in enumerate(arr):
        if value ==6 and (ct==0):
            ct+=index
            # store the index where 6 is located
            index_c6.append(index)
        elif value == 9:
            # store the index where 9 is located in the original list
            index_c9.append(index)  
            if ct < index:
                arr[ct:index+1]=[0*(index-ct+1)]
        else:
            pass
    # if the first 6 appears before the first 9 and there is no other 6 between this 6 and 9
        
    
    
    return sum(arr)

#  Use while and break to loo through the list items

In [24]:
def summer_692(arr): #[4, 5, 6, 7, 8, 9, 1, 2, 6, 7,9]
    total = 0
    add = True  
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break  # brake the current enclosing loop which is while loop and back to for loop to go thourgh next num
            else:
                add = False #### once num is 6, quit the while loop to continue next while loop which is for waiting for 9
        while not add:
            if num!=9:
                break  # if we did not get 9 then we break this while back to for loop to continue to find 
            else:
                add = True  # if we find 9 then we break to for loop and give add to be true to find anoter 6 and 9 
                break
    return total

# updtes the codes above to make it more applicable to more normal cases

In [31]:
def summer_693(arr): #[4, 5, 6, 7, 8, 9, 1, 2, 6, 7,9]
    total = 0
    add = True 
    add_between_section69=0
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break  # brake the current enclosing loop which is while loop and back to for loop to go thourgh next num
            else:
                add = False #### once num is 6, quit the while loop to continue next while loop which is for waiting for 9
        while not add:
            if num!=9:
                add_between_section69+=num
                break  # if we did not get 9 then we break this while back to for loop to continue to find 
            else:
                add = True  # if we find 9 then we break to for loop and give add to be true to find anoter 6 and 9 
                add_between_section69 = 0 # clearing the numer add as long as there is 9 found 
                break
    return total + add_between_section69

In [154]:
ll=[1, 3, 5]
sum(ll)

for index,value in enumerate(ll):
    print(index,value)
ll.append(4)
ll[0:1]=[0*1]
ll
sum(ll)

0 1
1 3
2 5

12

In [23]:
# Check
summer_692([1, 3, 5])

9

##  CASE 1: so the check list given will be sure have 6 with its following at least one 9

In [39]:
summer_692([1, 3, 5,6,7,8])

9

In [40]:
summer_693([1, 3, 5,6,7,8])  ########## correct one!

30

In [41]:
summer_69([1, 3, 5,6,7,8,9])

9

In [33]:
summer_692([1, 3, 5,6,7,8,9])

9

In [29]:
summer_69([1, 3, 5,6,7,8,9])

9

In [32]:
summer_693([1, 3, 5,6, 7, 8,9])

9

# CASE 2 THERE are numbers between two section 6, 9

In [35]:
# Check
summer_692([4, 5, 6, 7, 8, 9, 1, 2, 6, 7,9]) # 4+5+1+2 = 12

12

In [36]:
summer_693([4, 5, 6, 7, 8, 9, 1, 2, 6, 7,9])

12

In [37]:
summer_69([4, 5, 6, 7, 8, 9, 1, 2, 6,7,9]) # here is the wrong number

9

In [4]:
# Check
summer_692([2, 1, 6,9,11])

14

In [6]:
summer_692([2, 1, 6,6,9,11]) # only takes the first 6 and its next 9

14

In [7]:
summer_692([2, 1, 6,6,9,9,11]) # ????????????????????? should it be 2+1+9+11 = 23?

23

In [8]:
summer_692([2, 1, 6,6,6,9,9,9,11])

32

##  Conclusion while we reach some state, we brake the current enclosing loop. 
## if we only has one for loop and break will  leave the loop, continue after the loop actions. 
## If else is not the loop. so break inside if else will break the foor loop if logic is for loop within if else statement
## So this means if we have another nested loop within this for loop like a while loop, then break the while loop instead of the outside for loop so it will return back to the for loop and continue the for loop.

## how about 
>>> summer_69([2, 1, 6,6,6,9,11])
>>> summer_69([2, 1, 6,6,9,9,11])
>>> summer_69([2, 1, 6,6,9,11])

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

## 7 must appear after 0,0 at least two 0

In [168]:
def spy_game(nums):
    ct_0=0
    index_0=[]
    ct_7=0
    index_7=[]
    for index, value in enumerate(nums):
        if value ==0:
            ct_0+=1
            index_0.append(index)
        if value==7:
            ct_7+=1
            index_7.append(index)
    if ct_7 >=1 and ct_0>=2 and index_7[0]>index_0[1]:
        return True
    else:
        return False

## Another insoirung solution from the tutor: create a list which contains the items that you expect to find in the given
## list and comnibe with pop() method of list

In [42]:
def spy_game(nums):
    code = [0,0,7,'x'] # we do not care the order of these 0, 0, 7 but 7 must appear after 0,0 
    # [0,7,'x'] after first pop()
    # [7,'x'] # after second pop()
    #['x'] # after find one section of 0,0,7 
    for num in nums:
        if num == code[0]:
            code.pop(0) # index 0 
    return len(code) == 1 # if it is 1 then must be 'x'

In [43]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [44]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [45]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.
## a prime number can only devide by 1 and its self. if it can divide any other numer to get a whole numer then it is not prime number

### I failed to make it work 
### this chanllenge is more about the math problem so the prime is the number that only can be dividend by 1 and
### itself. 
### and I learned that there is one way to tackle with preime

In [55]:
def count_primes(num):
    #### check 0 or 1 input 
    if num < 2:
        return 0 
    ##############################
    # check num greater that 2
    #####################################
    
    # store all primes 
    primes = [2]
    
    # counter going up to the num 
    x = 3
    
    # x is going through every odd number up to num 
    while x <=num: # we also include the given num 
        for y in range(3,x,2):# step as 2 to only consider odd number since even numer will be not premise for true
            if x%y == 0:
                x+=2 # go to next even numer 
                break # once it comes to break then leave the for loop go back to the while loop to check next even number 
        else: # for else here is a tricker that means if the code never goes to break above then it will go to else
                primes.append(x)
                x+=2
    print(primes)
    return len(primes)

In [56]:
list(range(3,3,2))

[]

In [57]:
# Check
count_primes(3)

[2, 3]

2

In [58]:
count_primes(101)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101]

26

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [67]:
def print_big(letter):
    pattens={1:'  *  ',2:' * * ',3:'*   *',4:'*****'}
    Alphabelt={'A':[1,2,4,3,3],'B':[1,2,2,3,4]}
    for patten in Alphabelt[letter.upper()]:
        print(pattens[patten])

In [68]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!